<tbody>
    <tr>
        <td>برداشت وجه از</td>
        <td class="dir-ltr">oak:withdrawal-from:execute</td>
        <td><i class="fa fa-check"></i></td>
        <td></td>
    </tr>
    <tr>
        <td>مانده حساب</td>
        <td class="dir-ltr">oak:balance:get</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
    </tr>
    <tr>
        <td>مانده و 100 گردش آخر حساب</td>
        <td class="dir-ltr">oak:statement:get</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
    </tr>
    <tr>
        <td>واریز وجه به</td>
        <td class="dir-ltr">oak:transfer-to:execute</td>
        <td></td>
        <td><i class="fa fa-check"></i></td>
    </tr>
</tbody>